{% extends "dash/base.html" %}
{% block sub_title %}
  Channel
{% endblock sub_title %}

{% block sub_heading %}
  Add a channel
{% endblock sub_heading %}
{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'mattermost.channel.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Channel List
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock %}
