{% extends "dash/base.html" %}

{% block title %}
  Mattermost Channels
{% endblock title %}

{% block sub_heading %}
  Mattermost Channels
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Name</th>
            <th>URL</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'mattermost.channel.update' x.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ x.slug }}
                </a>
              </td>
              <td>
                {{ x.url }}
              </td>
              <td>
                <a href="{% url 'mattermost.channel.delete' x.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
